.share__model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #403e3eeb;
  display: flex;
}
.share__container {
  width: 40%;
  height: 25%;
  margin: 12% 35%;
  background: #fff;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.share__link {
  padding: 10px;
  color: black;
  /* display: flex; */
}

.copy__button {
  border: none;
  background-color: #fff;
  margin-top: 10px;
  cursor: pointer;
  color: rgb(51 165 241);
}

.icons__container {
  margin-top: 20px;
}

.social__icons {
  margin: 5px;
  width: 60%;
}
